body {
    background-color: rgba(244, 231, 224, 0.808);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  a{
    color: #010407;
    text-decoration: none;
  }
  header {
    background-color: rgba(249, 211, 168, 0.838);
    color: #FFF;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #010407;
    font-weight: bold;
    margin: 0;
  }

  section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #9a2222;
    background-color: #F9F9F9;
  }
  
  /* Estilo para los títulos de las secciones */
  h2 {
    color: #010407;
    margin-bottom: 10px;
  }
  
  /* Estilo para el contenido de las secciones */
  p {
    line-height: 1.6;
  }
  img{
    width: 800px;
    
  }
img.logo{
  width: 400px;
}
